{% extends "network/layout.html" %}

{% block body %}

{% if message %}
    <div>{{ message }}</div>
{% endif %}


<h4>Followers Posts</h4>  

        <form action="{% url 'profile' %}" method="GET">
        {% for item in following_posts %}
        <h5 style="border-style: solid;margin: 15px;border-width: thin;">
            <div>
                <input type="submit" name="user" value="{{ item.user }}" style="background:none; border-width:0px; color:black; text-decoration:underline;" />
            </div>
            <div>{{ item.content }}</div>
            <div>{{ item.timestamp }}</div>
            <div>{{ item.likes }}</div>
        </h5>
        <br>  
        {% endfor %}
        </form>
        </div>


{% endblock %}
